/* 로그인 화면 */
.login {
    padding: 5% 5%;
}
.login .title {
    color: #3DBAEE;
    font-family: 'Noto Sans KR Bold';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-size: 30px;
}
.login .account {
    width: 100%;
}
.login .account input{
    width: 100%;
    padding-left: 4%;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 7px;
    border: 0.9px solid
}
.login .account input:focus{
    width: 94%;
    padding-left: 4%;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 7px;
    outline: 0.1px solid;
}
.login button{
    border: none;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 7px;
    background-color: #3DBAEE;
    color: white;
    font-size: 18px;
}

.login .singUp {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.login .singUpBtn {
    text-decoration: underline;
}

.login .singUpBtn:hover {
    cursor: pointer;
}
  
.login .version {
    margin-top: 50px;
    text-align: center;
    color:#787878;
    font-family: 'Noto Sans KR Bold';
}

/* 회원가입 */
.singup {
    padding: 5% 5%;
}

.singup .title {
    color: #3DBAEE;
    font-family: 'Noto Sans KR Bold';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-size: 30px;
}

.singup .account {
    width: 100%;
}

.singup .account input {
    width: 100%;
    padding-left: 4%;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 7px;
    border: 0.9px solid;
}

.singup .account .id {
    width: 80%;
    padding-left: 4%;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 7px;
    border: 0.9px solid;
}

.singup .account .idCheck {
    margin: 0;
    margin-left: 1%;
    width: 18%;
    height: 50px;
    border: 0;
    text-align: center;
}

.singup .account .password {
    margin-top: 25px;
}

.singup .account input:focus {
    width: 100%;
    padding-left: 4%;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 7px;
    outline: 0.1px solid;
}

.singup .passwordconditions {
    color: #787878;
    font-family: 'Noto Sans KR Bold';
    font-size: 13px;
}

.singup button {
    border : none;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 7px;
    background-color: #3DBAEE;
    color: white;
    font-size: 18px;
}

.singup .consent{
    margin-top: 50px;
    color: #787878;
    font-family: 'Noto Sans KR Bold';
    font-size: 13px;
}